body {
	font-family: "proxima-nova-1","proxima-nova-2";
	font-size: 1.2em;
	background: #ccc;
}

.site {
  width: 50em;
  text-align: justify;
}

#front {
	font-family: "proxima-nova-1","proxima-nova-2";
	font-style: bold;
	font-size: 2em;
}

#front .highlight {
	font-family: "bello-pro-1","bello-pro-2";
	font-size: 1.2em;
}

#front a {
  text-decoration: none;
	color: #10afed;
}

#front a:visited {
	color: #10afed;
}

#front a:active {
	color: #5a55ed;
}
