<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css" />
		<script type="text/javascript" src="http://use.typekit.com/jpj5bco.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script src="http://ajax.cdnjs.com/ajax/libs/noisy/1.0/jquery.noisy.min.js"></script>
		<script>
			$(function() {
				$('body').noisy();
			});
		</script>
	</head>

	<body>
		<div class="site">
			<div class="header">
				<h1><a href="/blog.html">Mortice's hacks</a></h1>
			</div>
			<div class="body">
			<h2>{{ page.title }}</h2>
				{{ content }}
			</div>
		</div>
	</body>
</html>
