<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css" />
		<script type="text/javascript" src="http://use.typekit.com/jpj5bco.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>

	<body>
		<div class="site">
			<div class="header">
				<h1><a href="/">Mortice's hacks</a></h1>
			</div>
			<div class="body">
				{{ content }}
			</div>
			<div class="footer">
				<p>You should follow me on twitter <a href="http://twitter.com/#!/morticed">here</a>.</p>
			</div>
		</div>
	</body>
</html>
